*,
::after,
::before {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: gray;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 1em;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5,
h6 {
  font-size: 1rem;
}
main {
  align-self: flex-start;
  width: 100%;
  min-width: 320px;
  max-width: 600px;
  flex-basis: 600px;
  text-align: center;
  padding: 2em 1em;
}

input,
button {
  font-size: inherit;
}

#file_input {
  display: none;
}

#add {
  position: relative;
  /* color: white;
  background-color: maroon; */
  color: #333;
  background: #81b3d2;
  border-radius: 5px;
  border: 0;
  padding: 0.4em 0.7em;
  margin: 0 0 0.8em;
  cursor: pointer;
  outline: none;
  transform: none;
  transition: 0.25s background-color ease;
  /* opacity: 0.8; */
}
#add:focus,
#add:hover {
  /* opacity: 1; */
  background: #e4d345;
}
#add:active {
  transform: scale(0.95);
}

#page_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

#contents {
  color: black;
  background: #eee;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  text-align: left;
}
#contents:empty {
  padding: 0;
}

#gallery {
  padding: 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#gallery img {
  display: inline-block;
  height: 60px;
  max-width: calc(50% - 1em);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  border: 2px solid white;
  margin: 0 0 0.8em;
}
#gallery img + img {
  margin-left: 0.8em;
}
#gallery img:nth-child(odd) {
  transform: rotate(1deg);
}
#gallery img:nth-child(even) {
  transform: rotate(-1deg);
}

#dropbox {
  height: 160px;
  border-radius: 10px;
  background-size: 20% auto;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(upload-graphic.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#logger {
  color: black;
  background: #eee;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  text-align: left;
  overflow: hidden;
}
#logger:empty {
  padding: 0;
}

.monospace {
  font-family: 'Lucida Console', Monaco, monospace;
}
.small {
  font-size: 0.9rem;
}

/* LINKS */
a,
a:visited,
a:hover,
a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #81b3d2;
  /* color: maroon; */
  font-size: 2rem;
  display: inline-block;
  line-height: 1.2;
  margin: 0 0 0.8em;
}
a:hover {
  color: #e4d345;
}
a:after {
  content: '';
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 0;
  background: #e4d345;
}
a:hover:after {
  width: 100%;
}

/* 
 * VIDEOS 
 */
video {
  height: 180px;
  width: 320px;
  margin: 2em;
}
